body {
  display: flex;
  background-color: #e0e0e0;
}

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  padding: 20px;
  background-color: var(--color-bg-dark);
  border-radius: 5px;
}

.auth-content {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.header-text {
  text-align: center;
  font-weight: bold;
  font-variant-caps: all-petite-caps;
  color: white;
}

.auth-logo {
  display: flex;
  align-items: flex-start;
  padding: 3px;
}
